body {
  background-color: #96af79;
}
.App {
  background-color: #8bd8ab;
  padding: 10px;
  border-radius: 25px;
  min-height: 500px;
  width: 400px;
  margin : 40px auto;
}
#todo-list input{
  background-color: #a8a0f1;
  border:none;
  margin: 20px;
  width : 220px;
  height: 40px;
  padding: 0 20px;  
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
}
#todo-list input::placeholder {
  color: #fff;
}
#todo-list input:focus{
  outline:none;
}
#todo-list button {
  background-color: #b8c762;
  border:none;
  width : 80px;
  height: 40px;
  padding: 0 20px;  
  border-radius: 5px;
  font-size: 15px;
  color: #fff;  
  cursor: pointer;
  font-weight: bolder;
}
